@font-face {
    font-family: Roboto Mono Regular;
    src: url('fonts/RobotoMono-Regular.ttf');
}

.label {
    -fx-font-family: "Roboto Mono Regular";
    -fx-text-fill: #313131;
}

.button .text {
    -fx-font-family: "Roboto Mono Regular";
}

.text-field {
    -fx-font-family: "Roboto Mono SemiBold";
}