@font-face {
    font-family: Roboto Mono SemiBold;
    src: url('fonts/RobotoMono-SemiBold.ttf');
}

.label {
    -fx-font-family: "Roboto Mono SemiBold";
    -fx-text-fill: #313131;
}

.button .text {
    -fx-font-family: "Roboto Mono SemiBold";
}