.button{
    -fx-text-fill: #313131;
    -fx-background-color: #fff5e9;
    -fx-border-color: #fff5e9;
    -fx-border-radius: 2;
    -fx-padding: 5;
}

.button:hover{
    -fx-text-fill: #006A70FF;
}